@CHARSET "UTF-8";

.empty { color: #514B4B; }
.nopadding { padding: 0 !important; }
.bg-qty {
	background-color: #683b2b !important;
	color: #ffcd00 !important;
}

a { 
	outline: 0;
	cursor pointer;
}

.items { margin-top: 40px; }
.item {
	margin-bottom: 50px;
}

.red { color: #bd0000; }

.botiga-img { position: relative; }
.item .botiga-img { position: relative; height: 300px; }
.item .botiga-img img { max-height: 250px; margin: 0 auto; }

#page-header h2, #page-header h1 { font-size: 20px !important; }

.pvp-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    background-color: #bd0000;
    border-radius: 30px;
}
.pvp-badge span {
    position: absolute;
    top: 33%;
    left: 25%;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
.big {
    right: 15px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.big span {
    font-size: 18px;
}

.thumbnail > img, .thumbnail > a > img { height: 250px; } 
.additional-img a { display: inline-block; }
.additional-img img {
	width: 80px;
	height: 100px;
}

span.rollover {
	opacity: 1;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	background-color: #ccc;
	cursor:zoom-in;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10;
	opacity: 0;
}

span.rollover:hover {
	opacity: .7;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
}

.head_botiga {
	height: 150px;
	border-bottom: 1px solid #683b2b;
}

.item {
	margin-bottom: 50px;
}

.btn-link, .btn-link:hover { border: 1px solid #1d1d1d; color: #1d1d1d; text-decoration:none; }
.item .btn-black { margin-top:10px; }
.price { font-size: 20px; }
.item-ref { font-size: 10px; }
.item-divider { height: 10px; }
.item-title-item { height: 30px; }
.item-title-ref { margin-top: 20px; }

.brand { margin-top: 50px; }
.brand img { height: 40px; }

.addtocart-block { margin: 20px 0; }

.carrito { position: relative; }
.carrito .badge {
	position: absolute;
	top: -5px;
	left: 10px;
}

.product-extra {
	margin-top:20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.styled-select select {
   background: transparent;
   width: 100%;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 38px;
   -webkit-appearance: none;
}
.styled-select {
	width: 100%;
	height: 38px;
	overflow: hidden;
   	background: url(../../../../media/com_botiga/icons/arrow.png) no-repeat right #fff;
   	border: 1px solid #683b2b;
}

.block-msg {
	width: 100%;
	padding: 50px 20px;
	background-color: #BD0000;
	color: #fff;
	margin-top: 100px;
}

.bold { font-weight: bold; }
.faded { color: #999; }

.item-favorite { margin-top: 20px; }

#number {
    width: 50px;
    height: 34px;
    text-align: center;
}

.paginacion { width: 100%; text-align: center; }
.pagination>li>a, .pagination>li>span {
    color: #000 !important;
    border: none !important;
}
span.pagenav { font-weight: bold; }

@media (max-width: 768px) {
	.phone-hide { display: none; }
	.phone-visible { display: initial; }
}
	
