@CHARSET "UTF-8";

.empty { color: #514B4B; }
.nopadding { padding: 0 !important; }

.items { margin-top: 40px; }
.item {
	margin-bottom: 50px;
}

.red { color: #bd0000; }

.zoom {
  	display: inline-block;
  	background-color: #fff;
  	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.zoom:hover {
  	border: 1px solid #f2f2f2;
  	box-shadow: 0 0.5em 1em #f2f2f2;
}

.zoom:hover > .wrapper {
  	border: 1px solid #f2f2f2;
  	box-shadow: 0 0.5em 1em #f2f2f2;
}

.botiga-btns { background-color: #000; height: 54px; }

.botiga-img { position: relative; }
.item .botiga-img { position: relative; height: 300px; }
.item .botiga-img img { max-height: 250px; margin: 0 auto; }

#page-header h2, #page-header h1 { font-size: 20px !important; }

.pvp-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    background-color: #bd0000;
    border-radius: 30px;
}
.pvp-badge span {
    position: absolute;
    top: 33%;
    left: 25%;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
.big {
    right: 15px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.big span {
    font-size: 18px;
}

.item {
	margin-bottom: 50px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.item-wrap {
	padding-left: 10px;
	padding-right: 10px;
}

.thumbnail > img, .thumbnail > a > img { height: 250px; } 
.additional-img a { display: inline-block; }
.additional-img img {
	width: 80px;
	height: 100px;
}

span.rollover {
	opacity: 1;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	background-color: #ccc;
	cursor:zoom-in;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10;
	opacity: 0;
}

span.rollover:hover {
	opacity: .7;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
}

.btn-link, .btn-link:hover { border: 1px solid #1d1d1d; color: #1d1d1d; text-decoration:none; }
.item .btn-black { margin-top:10px; }
.price { font-size: 20px; }
.item-ref { font-size: 10px; }
.item-divider { height: 10px; }
.item-title-item { height: 30px; }
.item-title-ref { margin-top: 20px; }
#budget input, #budget textarea { color: #fff; }

.brand { margin-top: 50px; }
.brand img { height: 40px; }

.addtocart-block { margin: 20px 0; }

.product-extra {
	margin-top:20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.bold { font-weight: bold; }
.faded { color: #999; }

.item-favorite { margin-top: 20px; }

#number {
    width: 50px;
    height: 34px;
    text-align: center;
}

.paginacion { width: 100%; text-align: center; }
.pagination>li>a, .pagination>li>span {
    color: #000 !important;
    border: none !important;
}
span.pagenav { font-weight: bold; }
	
